body    {
    font-family: trebuchet ms, sans-serif;
    font-size: 16px;
    }

#header {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 5em;
        background: #ddf;
    }

#main {
    position: absolute;
    top: 5em;
    left: 0em;
    right: 20em;
    padding: 1em;
    }

#sidebar {
    position: absolute;
    top: 5em;
    right: 0em;
    width: 20em;
    background: #efe;
    }
