body    {
    font-family: trebuchet ms, sans-serif;
    font-size: 16px;
    }

#header {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 5em;
}

#main {
    position: absolute;
    top: 5rem;
    left: 0rem;
    right: 22rem;
    padding: 1em;
    }

#sidebar {
    position: absolute;
    top: 5em;
    right: 0rem;
    width: 20rem;
    padding: 0px 10px;
    border-left: 2px solid #cccccc;
    }


textarea {
     display: block;
     width: 90%;
     height: 500px;
     padding: 8px;
     border: 1px solid #cccccc;
     line-height: 130%;
     font-size: 13px;
}

section.controls {
    margin-bottom:15px;
    padding-bottom:5px;
    border-bottom: 2px solid #cccccc;
}

.page-controls{
    float:right;
}

a.edit,
a.remove{
    text-decoration: none;
    color:#cccccc;
}

.controls a.remove {float:right;}
