<%= form_for(@page) do |form| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </fieldset>
  <fieldset>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </fieldset>
  <fieldset>
    <%= form.submit %>
  </fieldset>
<% end %>
