<div id="main">
   <% for page in Page.all %>
    <section class="controls">
      <%= link_to page.title, page_path(page), class: "page" %>
      <%= link_to '[delete]', page, method: :delete, data: { confirm: 'Are you sure?' } , class: "remove" %>
    </section>
  <% end %>
</div>
<div id="sidebar">
  <p><%= link_to "Create a new page", new_page_path %></p>
  <center><h3>Existing pages</h3></center>
  <% for page in Page.all %>
    <%= link_to page.title, page_path(page)%>
    <br>
  <% end %>
