<div id="main">
	<h1><%= best_in_place @page, :title, :type => :input %></h1>
            <%= best_in_place @page, :body, :type => :textarea, :display_as => "redcarpet_render",  :ok_button => "Save", :activator => ".edit" %>
            <section class="page-controls">
            <a href="#" class="edit" >Edit..</a>&nbsp;|&nbsp;
            <%= link_to 'Remove...', @page, method: :delete, data: { confirm: 'Are you sure?' } , class: "remove" %>
            </section>
</div>
<div id="sidebar">
  <p><%= link_to "Create a page", new_page_path %></p>
  <center><h3>Existing pages</h3></center>
  <% for page in Page.all %>
    <%= link_to page.title, page_path(page)%>
    <br>
  <% end %>
