<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link data-turbolinks-track="true" href="/assets/code.css" media="all" rel="stylesheet" />
  <link data-turbolinks-track="true" href="/assets/md.css" media="all" rel="stylesheet" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="header">
  <center><h1><a href="/">MDTN Wiki</a></h1></center>
</div>
    <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
    <% end -%>
<%= yield %>

</body>
</html>
